.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  background-color: $theme-blue-light;
  padding: 0 40px;
  border-bottom: 1px solid darken($border-color, 9%);
  .title {
    font-weight: normal;
    a {
      color: $theme-gray-dark;
      &:hover {
        color: black;
      }
    }
  }
  .version {
    color: $theme-blue-dark;
  }
}
