.sidebar{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: $sidebar-width;
  overflow-y: auto;
  min-height: 100%;
  background-color: white;
  .logo {
    display: block;
    height: 60px;
    background: white url(../assets/images/logo.png) no-repeat center;
    background-size: 160px auto;
    &:hover {
      -webkit-filter: brightness(1.2);
      filter: brightness(1.2);
    }
  }
  .routes {
    padding: 10px 0;
  }
  ul {
    padding: 0;
    list-style: none;
    li {
      a {
        display: block;
        padding: 15px 20px;
        font-size: 17px;
        color: $theme-gray-dark;
      }
      &:hover {
        background-color: $theme-gray-light;
      }
    }
  }
  .accordion {
    li {
      background: $theme-blue-light;
      border-top: 1px solid $theme-gray-light;
      border-bottom: 1px solid $theme-gray-light;
      a { padding-left: 40px }
    }
    .accordion-label {
      padding: 15px 20px;
      font-size: 17px;
      color: $theme-gray-dark;
      cursor: pointer;
      &:hover, &.active {
        background-color: $theme-gray-light;
      }
    }
    .counter {
      color: $theme-blue-dark;
      background: $theme-blue-light;
    }
  }
}
