$theme-blue: #00A5FF;
$theme-blue-light: #CCEDFF;
$theme-blue-dark: #0055A6;
$theme-yellow: #FFE800;
$theme-gray-dark: #4A4A4A;
$theme-gray-light: #F7F7F7;

$sidebar-width: 260px;
$content-side-width: 240px;

$orange: $theme-blue;

$dark-orange: $theme-blue-dark;

$dark-red: #f44336;
$green: #8bc34a;
$off-white: $theme-gray-light;
$white: white;
$dark-gray: $theme-gray-dark;
$inactive-gray: #9ea1a3;
$new: #68BD6A;
$new-hover: #80ce81;

$background-color: $theme-gray-light;

$border-color: darken($background-color, 15%);
$border-color-focus: $orange;
$border-radius: 2px;

$btn-initial: #9ea1a3;
$btn-initial-border: #828282;
$btn-fat-hover: $dark-orange;
$btn-fat-hover-border: $dark-orange;
$btn-active: $theme-blue;
$btn-active-border: $theme-blue-dark;
$btn-inactive: $btn-initial !important;
$btn-inactive-border: $btn-initial-border !important;
$btn-success: #8dcf3f;
$btn-success-border: #6ba329;
$btn-danger: #ff6868;
$btn-danger-border: #bc0000;
